<div class="page-header">
  <aside class="pull-right">
    <%= link_to new_icon_set_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus-circle"></i>&nbsp; New Icon Set
    <% end %>
  </aside>
  <h1>Icon Sets</h1>
</div>
<%= render "shared/flash" %>
<% if @icon_sets.any? %>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Designer</th>
      <th>Designed For</th>
      <th>CSS Prefix</th>
      <th>Icon CSS Prefix</th>
      <th>Website</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @icon_sets.each do |icon_set| %>
      <tr>
        <td><a href="<%= icon_set_path(icon_set) %>"><%= icon_set.name %></a></td>
        <td><%= icon_set.slug %></td>
        <td><%= icon_set.designer %></td>
        <td><%= "#{icon_set.designed_for}px" %></td>
        <td><%= icon_set.css_prefix %></td>
        <td><%= icon_set.icon_css_prefix %></td>
        <td><%= icon_set.website %></td>
        <td>
          <%= link_to edit_icon_set_path(icon_set), class: 'btn btn-primary btn-sm' do %>
            <i class="fa fa-edit"></i> Edit
          <% end %>
          <%= link_to icon_set_path(icon_set), class: 'btn btn-danger btn-sm',  method: :delete, data: { confirm: "Deleting the icon set will also delete all associated icons. Are you sure?" } do %>
            <i class="fa fa-trash"></i> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    <strong>Missing!</strong> You do not have any icon sets. <a href="<%= new_icon_set_path %>" class="alert-link">Create a new one! </a>
  </div>
<% end %>
